{{ 'about-text-and-img.out.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign imageWidth = section.settings.image.width
  assign imageHeight = imageWidth | divided_by: section.settings.image.aspect_ratio
  if section.settings.image_lazy
  assign imageLoading = 'lazy'
  else
  assign imageLoading = ''
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="about-text-and-img  section-{{ section.id }}-padding">
  <div class="about-us">
    <div class="page-width">
      <div class="about-us__mission">
        <div class="about-us__content">
          <div class="about-us__text">
            <h3>{{ section.settings.title_mission }}</h3>
            <div class="about-us__text-content">
              <div class="text-text">{{ section.settings.content_mission1 }}</div>
              <p>{{ section.settings.content_mission2 }}</p>
            </div>
          </div>
          <div class="about-us__text_img">
            {% if section.settings.image_1 %}
              {{ section.settings.image_1 | image_url: width: 1500 | image_tag: loading: 'lazy' }}
            {% endif %} 
          </div>
        </div>
        <div class="about-us__image">
          {%- if section.settings.image_2 -%}
            {{ section.settings.image_2| image_url: width: 1500 | image_tag: loading: 'lazy' }}
           {% endif %}
        </div>
      </div>
      <div class="about-us__history">
        <div class="about-us__content">
          <div class="about-us__text">
            <h3>{{ section.settings.title_history }}</h3>
            <div class="about-us__text-content">
              <div class="text-text">{{ section.settings.content_history1 }}</div>
              <p>{{ section.settings.content_history2 }}</p>
            </div>
          </div>
          <div class="about-us__text_img">
            {%- if section.settings.image_3 -%}
              {{ section.settings.image_3| image_url: width: 1500 | image_tag: loading: 'lazy' }}
             {% endif %}
          </div>
        </div>
        <div class="about-us__image">
          <div class="about-us__image_img">
            {%- if section.settings.image_4 -%}
              {{ section.settings.image_4| image_url: width: 1500 | image_tag: loading: 'lazy' }}
             {% endif %}
             {%- if section.settings.image_5 -%}
              {{ section.settings.image_5| image_url: width: 1500 | image_tag: loading: 'lazy' }}
             {% endif %}
          </div>
          <div class="about-us__history-image_text">
            <div class="text-text">{{ section.settings.content_history3 }}</div>
            <p>{{ section.settings.content_history4 }}</p>
        </div>
      </div>
  </div>
</section>
  
{% schema %}
{
    "name": "About Us",
    "settings": [
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "text",
        "id": "title_mission",
        "label": "Title Mission",
        "default": "Our Mission"
      },
      {
        "type": "richtext",
        "id": "content_mission1",
        "label": "Content Mission 1"
      },
      {
        "type": "richtext",
        "id": "content_mission2",
        "label": "Content Mission 2"
      },
      {
        "type": "text",
        "id": "title_history",
        "label": "Title History",
        "default": "The History"
      },
      {
        "type": "richtext",
        "id": "content_history1",
        "label": "Content History 1"
      },
      {
        "type": "richtext",
        "id": "content_history2",
        "label": "Content History 2"
      },
      {
        "type": "richtext",
        "id": "content_history3",
        "label": "Content History 3"
      },
      {
        "type": "richtext",
        "id": "content_history4",
        "label": "Content History 4"
      },
      {
        "type": "header",
        "content": "Section Media"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Img Our Mission 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Img Our Mission 2"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Img The History 1"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "Img The History 2"
      },
      {
        "type": "image_picker",
        "id": "image_5",
        "label": "Img The History 3"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 160,
        "step": 4,
        "unit": "px",
        "label": "Padding top desktop",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 160,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom desktop",
        "default": 148
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 120,
        "step": 4,
        "unit": "px",
        "label": "Padding top mobile",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 120,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom mobile",
        "default": 80
      }
    ],
    "presets": [
      {
        "name": "About Text and Img",
        "category": "Custom"
      }
    ]
}
{% endschema %}