{{ 'blog-banner.out.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign imageWidth = section.settings.image_banner_desc.width
  assign imageHeight = imageWidth | divided_by: section.settings.image_banner_desc.aspect_ratio
  if section.settings.image_lazy
  assign imageLoading = 'lazy'
  else
  assign imageLoading = ''
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="blog-banner  section-{{ section.id }}-padding">
  <div class="page-width">
    {% render 'breadcrumbs' %}
    <div class="blog-banner__wrapper">
      <h1 class="h2">
        {% if section.settings.banner_blog_title != blank %}
            {{ section.settings.banner_blog_title }}
          {%else%}
            {{ blog.title }}
        {% endif %}
      </h1>
      <div class="blog-banner__content">
        {% if section.settings.banner_blog_text != blank %}
          {{ section.settings.banner_blog_text }}
        {%else%}
          {{ blog.text }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
 
{% schema %}
{
	"name": "Blog Banner",
	"settings": [
		{
			"type": "header",
			"content": "Section Content"
		},
		{
			"type": "header",
			"content": "Section Media"
		},
		{
			"type": "text",
			"id": "banner_blog_title",
			"label": "Banner Title"
		},
		{
			"type": "richtext",
			"id": "banner_blog_text",
			"label": "Banner Text"
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 160,
			"step": 4,
			"unit": "px",
			"label": "Padding top desktop",
			"default": 80
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 160,
			"step": 4,
			"unit": "px",
			"label": "Padding bottom desktop",
			"default": 148
		},
		{
			"type": "range",
			"id": "padding_top_mb",
			"min": 0,
			"max": 120,
			"step": 4,
			"unit": "px",
			"label": "Padding top mobile",
			"default": 80
		},
		{
			"type": "range",
			"id": "padding_bottom_mb",
			"min": 0,
			"max": 120,
			"step": 4,
			"unit": "px",
			"label": "Padding bottom mobile",
			"default": 80
		}
	],
	"presets": [
		{
			"name": "Blog Banner",
			"category": "Custom"
		}
	]
}
{% endschema %}