{{ 'blog-posts.out.css' | asset_url | stylesheet_tag }}
{{ 'blog-post-item.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{%- liquid
    if section.settings.image_lazy
        assign imageLoading = 'lazy'
    else
        assign imageLoading = ''
    endif
-%}

<section class="section-{{ section.id }}-padding blog-posts-section__bg page-width">

  <div class="blog-posts-section">
    <div class="blog-posts__title-row">
        <h3 class="blog-posts__title">{{ section.settings.header }}</h3>
        <a class="btn btn__primary blog-posts__button-desk" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>

    <div class="blog-posts__posts">
      {%- assign blog = blogs[section.settings.blog] -%}
      {% for articleRecommend in blog.articles limit: 4 %}
        {% if articleRecommend.handle != article.handle %}
          <style>
            .blog-post:last-of-type {
              display: none;
            }
          </style>
        {% else %}
          <style>
            .blog-post:last-of-type {
                  display: flex !important;
              }
              [data-recomend-article="{{ articleRecommend.handle }}"] {
                  display: none;
              }
          </style>
        {% endif %}
              <a href="{{ articleRecommend.url }}" class="blog-post {% if articleRecommend.handle == article.handle and forloop.index == 4 %} delete {% endif %}"
                 data-recomend-article="{{ articleRecommend.handle }}"
              >
                
                <div class="blog-post__image-wrap">
                    {%- liquid
                        assign image = articleRecommend.image
                        assign imageWidth = image.width
                        assign imageHeight = imageWidth | divided_by: image.aspect_ratio
            
                        assign imageClasses = 'blog-post__image'
                    %}
            
                    {{ image | image_url: width: 3840 | image_tag:
                    width: imageWidth,
                    height: imageHeight,
                    class: imageClasses,
                    sizes: '100vw',
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' }}
                </div>
                <div class="blog-post__content">
                    <h4 class="blog-post__content-title title-collection-item">{{ articleRecommend.title }}</h4>
                    <p class="blog-post__content-excerpt p-small">{{ articleRecommend.excerpt }}</p>
                    <p class="blog-post__content-more title-small-upper">Read more</p>
                </div>
              </a>
        {% endfor %}
    </div>

    <div class="blog-posts__button-row">
        <a class="btn btn__primary" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Blog"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Section header",
      "default": "Our Real Weddings"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "view all"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "image_lazy",
      "label": "Image lazy loading",
      "default": true
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 148
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 80
    }
  ],
  "presets": [
    {
      "name": "Blog posts custom"
    }
  ]
}
{% endschema %}