{{ 'collections-slider.out.css' | asset_url | stylesheet_tag }}
{{ 'flickity-arrows.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{%- liquid
    if section.settings.image_lazy
        assign imageLoading = 'lazy'
    else
        assign imageLoading = ''
    endif
-%}

<section class="collections-slider-section section-{{ section.id }}-padding">
    <h3 class="collections-slider__header text-text">{{ section.settings.header }}</h3>

    <div class="collections-slider__items"
         data-flickity='{ "initialIndex": 2, "pageDots": false, "wrapAround": true, "cellAlign": "left" }'>
        {% for block in section.blocks %}
            <div class="collections-slider__item">
                <a href="{{ block.settings.collection.url}}" class="collections-slider__item-link">
                    <div class="collections-slider__item-image-wrap">
                        {%- if block.settings.image != blank or block.settings.collection.image != blank -%}
                            {% if block.settings.image != blank %}
                                {%- liquid
                                    assign image = block.settings.image
                                    assign imageWidth = image.width
                                    assign imageHeight = imageWidth | divided_by: image.aspect_ratio
                                %}

                                {{ image | image_url: width: 3840 | image_tag:
                                loading: imageLoading,
                                width: imageWidth,
                                height: imageHeight,
                                class: 'collections-slider__item-image',
                                sizes: '100vw',
                                widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' }}

                            {% else %}

                                {%- liquid
                                    assign image = block.settings.collection.image
                                    assign imageWidth = image.width
                                    assign imageHeight = imageWidth | divided_by: image.aspect_ratio
                                %}

                                {{ image | image_url: width: 3840 | image_tag:
                                loading: imageLoading,
                                width: imageWidth,
                                height: imageHeight,
                                class: 'collections-slider__item-image',
                                sizes: '100vw',
                                widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' }}
                            {% endif %}
                        {%- else -%}
                            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                    </div>

                    <div class="collections-slider__item-title title-collection-item text-text">
                        {{ block.settings.collection.title }}
                    </div>

                </a>
            </div>
        {% endfor %}
    </div>

    {% if section.settings.button_label %}
      <a href="{{ section.settings.button_link }}" class="collections-slider__button btn btn__primary">{{ section.settings.button_label }}</a>
    {% endif %}

</section>


{% schema %}
{
  "name": "Collection slider",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "header",
      "default": "Explore Our Collections",
      "label": "Header"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "shop all",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "image_lazy",
      "label": "Image lazy loading",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 148
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 80
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }

  ],
  "presets": [
    {
      "name": "Collections slider"
    }
  ]
}
{% endschema %}