{{ 'collection-top.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top_mb }}px;
  padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

<section class="collection-top section-{{ section.id }}-padding">
  <div class="page-width">
    {% render 'breadcrumbs' %}
    <div class="collection-top__wrapper">
      <h1 class="h2 text-text d-block" data-title="{{ collection.title }}">{{ collection.title }}</h1>
      {% if collection.description != blank %}
        <div class="collection-top__content m-0">{{ collection.description }}</div>
      {% endif %}
      <div class="collection-top__nav-wrapper d-flex flex-wrap">
        {%- for link in section.settings.menu.links -%}
          <div>
            <a href="{{ link.url }}" class="p-small text-text {% if link.current %} active{% endif %}">
              {{- link.title -}}
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Top Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 148
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 80
    }
  ],
  "presets": [
    {
      "name": "Collection Top Section"
    }
  ]
}
{% endschema %}
