{{ 'featured-products.out.css' | asset_url | stylesheet_tag }}
{{ 'card-product.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{%- liquid
    if section.settings.image_lazy
        assign imageLoading = 'lazy'
    else
        assign imageLoading = ''
    endif
-%}

<section class="featured-products section-{{ section.id }}-padding page-width">
    <div class="featured-products__title-row">
        <h3 class="featured-products__title text-text">{{ section.settings.header }}</h3>
        <a class="btn btn__primary featured-products__button-desk" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>

    <div class="featured-products__wrapper">
      {%- for product in section.settings.product_list -%}
        {% render 'card-product',
          card_product: product,
          media_aspect_ratio: section.settings.image_ratio,
          show_secondary_image: section.settings.show_secondary_image,
          show_quick_add: section.settings.enable_quick_add,
          section_id: section.id
        %}
      {%- endfor -%}
    </div>

    <div class="featured-products__button-row">
        <a class="btn btn__primary" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
    </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Section header",
      "default": "Most loved"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "view all"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "image_lazy",
      "label": "Image lazy loading",
      "default": true
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 4
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 148
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 80
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}