{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'hero-banner.out.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign imageWidth = section.settings.image.width
    assign imageHeight = imageWidth | divided_by: section.settings.image.aspect_ratio
    if section.settings.image_lazy
        assign imageLoading = 'lazy'
    else
        assign imageLoading = ''
    endif

    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}

{% style %}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top_mb }}px;
        padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    .hero-banner {
      height: {{ imageHeight | append: "px" }};
    }

    @media screen and (max-width: 750px) {
        .hero-banner {
          height: 450px;
        }
    }
{%endstyle%}

<div
        id="Banner-{{ section.id }}"
        class="hero-banner banner
        banner--content-align-{{ section.settings.desktop_content_alignment }}
        banner--content-align-mobile-{{ section.settings.mobile_content_alignment }}
        {% if section.settings.image_overlay_opacity_left %} banner__media__left_overlay {% endif %}
        section-{{ section.id }}-padding">

    {%- if section.settings.image != blank -%}
        <picture class="{% if section.settings.image_overlay_opacity_left == true %} banner__media__left_overlay{% endif %}">
            {%- if section.settings.image--mobile != blank -%}
                <source
                        media="(max-width: 750px)"
                        srcset="
                  {%- if section.settings.image--mobile.width >= 375 -%}{{ section.settings.image--mobile | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if section.settings.image--mobile.width >= 550 -%}{{ section.settings.image--mobile | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if section.settings.image--mobile.width >= 750 -%}{{ section.settings.image--mobile | image_url: width: 750 }} 750w,{%- endif -%}
                ">
            {%- endif -%}
                {{ section.settings.image | image_url: width: 3840 | image_tag:
                loading: imageLoading,
                width: imageWidth,
                height: imageHeight,
                sizes: '100vw',
                widths: widths }}
        </picture>
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <div class="
        banner__content
        banner__content--{{ section.settings.desktop_content_position }}
        {% if section.settings.desktop_content_position != 'top-center' and section.settings.desktop_content_position != 'middle-center' and section.settings.desktop_content_position != 'bottom-center'%} page-width {% endif %}
        {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    >
        <div class="banner__box">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'heading' -%}
                        <h2
                                class="banner__heading inline-richtext {{ block.settings.heading_size }}"
                                {{ block.shopify_attributes }}
                        >
                            {{ block.settings.heading }}
                        </h2>
                    {%- when 'text' -%}
                        <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                            <p>{{ block.settings.text }}</p>
                        </div>
                    {%- when 'buttons' -%}
                        <div
                                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                                {{ block.shopify_attributes }}
                        >
                            {%- if block.settings.button_label_1 != blank -%}
                                <a
                                        {% if block.settings.button_link_1 == blank %}
                                            role="link" aria-disabled="true"
                                        {% else %}
                                            href="{{ block.settings.button_link_1 }}"
                                        {% endif %}
                                        class="btn {% if block.settings.button_style_primary_1 %} btn__primary {% else %} btn__ternary {% endif %}"
                                >
                                    {{- block.settings.button_label_1 | escape -}}
                                </a>
                            {%- endif -%}
                            {%- if block.settings.button_label_2 != blank -%}
                                <a
                                        {% if block.settings.button_link_2 == blank %}
                                            role="link" aria-disabled="true"
                                        {% else %}
                                            href="{{ block.settings.button_link_2 }}"
                                        {% endif %}
                                        class="btn {% if block.settings.button_style_primary_2 %} btn__primary {% else %} btn__ternary {% endif %}"
                                >
                                    {{- block.settings.button_label_2 | escape -}}
                                </a>
                            {%- endif -%}
                        </div>
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Hero banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 148
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 80
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image-desktop.label"
    },
    {
      "type": "checkbox",
      "id": "image_lazy",
      "label": "Image lazy loading",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image--mobile",
      "label": "t:sections.image-banner.settings.image-mobile.label"
    },
    {
      "type": "checkbox",
      "id": "image_overlay_opacity_left",
      "label": "t:sections.image-banner.settings.image_overlay_opacity_left.label",
      "default": true
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_primary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_primary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_primary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_primary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
