{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customer-account.out.css' | asset_url | stylesheet_tag }}
{{ 'appointment-form.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  body {
    position: relative;
  }

  .loading-overlay{
    top: 50%;
    left: 50%;
    transform: scale(2.5);
  }
{%- endstyle -%}

<div class="customer account section-{{ section.id }}-padding">
  <div class="customer__wrapper d-flex">
    <div class="customer__sidebar">
      <h1 class="customer__title h4 text-text">{{ 'customer.account.title' | t }}</h1>
      <a class="text-15px" href="{{ routes.account_logout_url }}">
        {{ 'customer.log_out' | t }}
      </a>
      <div class="customer__nav-wrapper">
        <div>
          <a
            id="link-booking"
            class="customer__account-tabs-link title-collection-item tablinks active"
            onclick="openTab(event, 'booking')"
            href="{{ routes.account_url }}#booking"
            >Appointments
          </a>
        </div>
        <div>
          <a
            id="link-order"
            class="customer__account-tabs-link title-collection-item tablinks"
            onclick="openTab(event, 'order')"
            href="{{ routes.account_url }}#order"
          >
            {{ 'customer.orders.title' | t }}
          </a>
        </div>
        <div>
          <a class="title-collection-item" href="{{ routes.account_addresses_url }}">
            {{ 'customer.account.details' | t }}
          </a>
        </div>
        <div>
          <a class="title-collection-item" href="/pages/swym-wishlist"> My Wishlist </a>
        </div>
        {% if customer.id == 7207032553745 %}
          <div>
            <a
              id="link-product"
              class="customer__account-tabs-link title-collection-item tablinks"
              onclick="openTab(event, 'product')"
              href="{{ routes.account_url }}#product"
              >synchronisation of product
            </a>
          </div>
          <div>
            <a
              id="link-collection"
              class="customer__account-tabs-link title-collection-item tablinks"
              onclick="openTab(event, 'collection')"
              href="{{ routes.account_url }}#collection"
            >
              synchronisation of collection
            </a>
          </div>
          <div>
            <a
              id="link-collections"
              class="customer__account-tabs-link title-collection-item tablinks"
              onclick="openTab(event, 'collections')"
              href="{{ routes.account_url }}#collections"
            >
              synchronisation of collections
            </a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="customer__tabs"></div>
    <div id="booking" class="tabcontent">
      <h3 class="customer__addresses-title text-text h2">Appointments</h3>

      <div class="customer__booking-wrapper">
        {% if customer.metafields.custom.book.value.bookings != blank %}
          <div>
            <h4 class="title-collection-item text-text">Upcoming events</h4>
            <div class="customer__booking-table">
              <div class="customer__booking-table-head w-100 d-flex">
                <div class="title-small-upper">
                  <p class="text-dark-grey">Booking ref</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Booking Date</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Appointment Type</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Appointment Date</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Amount</p>
                </div>
              </div>
              {%- for booking in customer.metafields.custom.book.value.bookings -%}
                {%- unless booking.status == 'Canceled' or booking.status == 'Completed' -%}
                  <div class="customer__booking-table-line w-100 d-flex">
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Booking ref</span>
                      <p class="booking--id">{{ booking.id }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Booking Date</span>
                      {% assign appointmentDateInSeconds = booking.appointment_date | divided_by: 1000 %}
                      <p>{{ appointmentDateInSeconds | date: '%b %d, %Y' }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Appointment Type</span>
                      <p>{{ booking.type }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Appointment Date</span>
                      {% assign appointmentDateInSeconds = booking.event_date | divided_by: 1000 %}
                      {%- if appointmentDateInSeconds != 0 -%}
                        <p>
                          {{ appointmentDateInSeconds | date: '%b %d, %Y' }}
                        </p>
                      {%- else -%}
                        -
                      {%- endif -%}
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Amount</span>
                      <p>{{ booking.amount }}</p>
                    </div>
                    <div class="customer__booking-table-edit">
                      <p data-form-trigger="{{ booking.time_slot_type }}" data-editEventButton>Edit</p>
                    </div>
                  </div>
                {%- endunless -%}
              {%- endfor -%}
            </div>
          </div>
          <div>
            <h4 class="title-collection-item text-text">Past events</h4>
            <div class="customer__booking-table">
              <div class="customer__booking-table-head w-100 d-flex">
                <div class="title-small-upper">
                  <p class="text-dark-grey">Booking ref</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Booking Date</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Appointment Type</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Appointment Date</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Amount</p>
                </div>
                <div class="title-small-upper">
                  <p class="text-dark-grey">Status</p>
                </div>
              </div>
              {%- for booking in customer.metafields.custom.book.value.bookings -%}
                {%- if booking.status == 'Canceled' or booking.status == 'Completed' -%}
                  <div class="customer__booking-table-line w-100 d-flex">
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Booking ref</span>
                      <p>{{ booking.id }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Booking Date</span>
                      {% assign appointmentDateInSeconds = booking.appointment_date | divided_by: 1000 %}
                      <p>{{ appointmentDateInSeconds | date: '%b %d, %Y' }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Appointment Type</span>
                      <p>{{ booking.type }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Appointment Date</span>
                      {%- assign appointmentDate = booking.event_date | divided_by: 1000 -%}
                      <p>{{ appointmentDate | date: '%b %d, %Y' }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Amount</span>
                      <p>{{ booking.amount }}</p>
                    </div>
                    <div class="d-flex">
                      <span class="title-small-upper text-dark-grey">Status</span>
                      <p>{{ booking.status }}</p>
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {% else %}
          <p>You haven't placed any bookings yet.</p>
        {% endif %}
      </div>
    </div>
    <div id="order" class="tabcontent">
      <div>
        <h1 class="customer__addresses-title text-text h2">{{ 'customer.orders.title' | t }}</h1>

        {% paginate customer.orders by 20 %}
          {%- if customer.orders.size > 0 -%}
            {%- for order in customer.orders -%}
              <div class="customer__order-item">
                <div>
                  <div class="customer__order-title d-flex">
                    <h4 class="text-text title-collection-item">{{ 'customer.order.title' | t: name: order.name }}</h4>
                    <p class="title-collection-item text-text">{{ order.fulfillment_status_label }}</p>
                  </div>

                  {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
                  <p class="customer__order-date p-small text-text">
                    {{ 'customer.order.date_html' | t: date: order_date }}
                  </p>
                  {%- if order.cancelled -%}
                    {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
                    <p class="customer__order-date p-small text-text">
                      {{ 'customer.order.cancelled_html' | t: date: cancelled_at }}
                    </p>
                    <p class="customer__order-date p-small text-text">
                      {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}
                    </p>
                  {%- endif -%}

                  <div class="customer__order-table">
                    <div class="customer__order-table-head d-flex">
                      <div class="title-small-upper">
                        <p class="text-dark-grey" id="ColumnProduct">{{ 'customer.order.product' | t }}</p>
                      </div>
                      <div class="title-small-upper">
                        <p class="text-dark-grey" id="ColumnQuantity">Qty</p>
                      </div>
                      <div class="title-small-upper">
                        <p class="text-dark-grey" id="ColumnTotal">{{ 'customer.order.price' | t }}</p>
                      </div>
                    </div>
                    {%- for line_item in order.line_items -%}
                      <div class="customer__order-table-line d-flex">
                        <div class="d-flex">
                          <div class="customer__order-table-img d-flex">
                            {% if line_item.image %}
                              {{ line_item.image | img_url: '288x420' | img_tag }}
                            {% endif %}
                          </div>
                          <div>
                            <a class="text-15px text-text" href="{{ line_item.url }}">
                              {{- line_item.title | replace: '- Original product', '' -}}
                            </a>
                            <div>
                              {%- for property in line_item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt class="p-small bold">{{ property.first }}:</dt>
                                    <dd class="p-small text-dark-grey">
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}" class="link" target="_blank">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                              <div class="product-option customer__order-table-qty">
                                <dt class="p-small bold">Qty:</dt>
                                <dd class="p-small text-dark-grey">&nbsp;{{ line_item.quantity }}</dd>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div>
                          <p class="text-text text-15px">{{ line_item.quantity }}</p>
                        </div>

                        <div>
                          <p class="text-text text-15px">{{ line_item.final_line_price | money }}</p>
                        </div>
                      </div>
                    {%- endfor -%}
                    <div class="customer__order-table-footer">
                      <div class="d-flex justify-content-between" role="row">
                        <p id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                          {{ 'customer.order.subtotal' | t }}
                        </p>
                        <p headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">
                          {{ order.line_items_subtotal_price | money }}
                        </p>
                      </div>
                      {%- if order.cart_level_discount_applications != blank -%}
                        <div class="d-flex justify-content-between" role="row">
                          {%- for discount_application in order.cart_level_discount_applications -%}
                            <p id="RowDiscount" role="rowheader" scope="row" colspan="4">
                              {{ 'customer.order.discount' | t }}
                              <span class="cart-discount">
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                  <use href="#icon-discount" />
                                </svg>
                                {{- discount_application.title -}}
                              </span>
                            </p>
                            <p headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                              <div>
                                <span>-{{ discount_application.total_allocated_amount | money }}</span>
                                <span class="cart-discount">
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                    <use href="#icon-discount" />
                                  </svg>
                                  {{- discount_application.title -}}
                                </span>
                              </div>
                            </p>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                      {%- for shipping_method in order.shipping_methods -%}
                        <div class="d-flex justify-content-between" role="row">
                          <p id="RowShipping" role="rowheader" scope="row" colspan="4">
                            {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                          </p>
                          <p
                            headers="RowShipping"
                            role="cell"
                            data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})"
                          >
                            {{ shipping_method.price | money }}
                          </p>
                        </div>
                      {%- endfor -%}
                      {%- for tax_line in order.tax_lines -%}
                        <div class="d-flex justify-content-between" role="row">
                          <p id="RowTax" role="rowheader" scope="row" colspan="4">
                            {{ 'customer.order.tax' | t }} ({{ tax_line.title }}
                            {{ tax_line.rate | times: 100 }}%)
                          </p>
                          <p
                            headers="RowTax"
                            role="cell"
                            data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)"
                          >
                            {{ tax_line.price | money }}
                          </p>
                        </div>
                      {%- endfor -%}
                      {%- if order.total_duties -%}
                        <div class="d-flex justify-content-between" role="row">
                          <p id="RowDuties" role="rowheader" scope="row" colspan="4">
                            {{ 'customer.order.total_duties' | t }}
                          </p>
                          <p headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">
                            {{ order.total_duties | money }}
                          </p>
                        </div>
                      {%- endif -%}
                      {%- if order.total_refunded_amount > 0 -%}
                        <div class="d-flex justify-content-between" role="row">
                          <p id="RowTotalRefund" role="rowheader" scope="row" colspan="3">
                            {{ 'customer.order.total_refunded' | t }}
                          </p>
                          <p
                            headers="RowTotalRefund"
                            role="cell"
                            colspan="2"
                            data-label="{{ 'customer.order.total_refunded' | t }}"
                          >
                            -{{ order.total_refunded_amount | money_with_currency }}
                          </p>
                        </div>
                      {%- endif -%}
                      <div class="d-flex justify-content-between" role="row">
                        <p id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</p>
                        <p headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">
                          {{ order.total_net_amount | money_with_currency }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- else -%}
            <p>{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}

          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}

                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span
                            aria-current="page"
                            aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                          >
                            {{- part.title -}}
                          </span>
                        {%- else -%}
                          <span>{{ part.title }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
        {% endpaginate %}
      </div>
    </div>
    {% if customer.id == settings.admin_id %}
      <div id="product" class="tabcontent">
        <h3 class="customer__addresses-title text-text h2">Synchronisation of product</h3>

        <div class="customer__product-wrapper">
          <form action="" class="custom-form">
            <div class="custom-form__row-full d-flex align-items-end">
              <div class="custom-form__field">
                <label class="custom-form__label title-small-upper text-text mb-3 d-block" for="bridal_{{ form.id }}"
                  >id bridal</label
                >
                <input
                  class="custom-form__input text-text text-15px"
                  type="number"
                  id="bridal_{{ form.id }}"
                  name="bridal[number]"
                  placeholder="00 00 00 00 00 00"
                >
              </div>
              <div class="custom-form__select custom-form__select-wedding">
                <select id="idSelect">
                  <option value="" selected>Create</option>
                  <option value="">Update</option>
                  <option value="">Delete</option>
                </select>
              </div>
            </div>
            <div class="custom-form__button d-flex w-100">
              <button type="submit" data-type="bridal" class="btn btn__primary w-100">Done</button>
            </div>
          </form>
        </div>
      </div>
      <div id="collection" class="tabcontent">
        <h3 class="customer__addresses-title text-text h2">Synchronisation of collection</h3>

        <div class="customer__collections-wrapper">
          <form action="" class="custom-form">
            <div class="custom-form__row-full">
              <div class="custom-form__field">
                <label class="custom-form__label title-small-upper text-text mb-3 d-block" for="vendor_{{ form.id }}"
                  >id vendora</label
                >
                <input
                  class="custom-form__input text-text text-15px"
                  type="number"
                  id="vendor_{{ form.id }}"
                  name="vendor[number]"
                  placeholder="00 00 00 00 00 00"
                >
              </div>
            </div>
            <div class="custom-form__button d-flex w-100">
              <button type="submit" data-type="vendor" class="btn btn__primary w-100">Update</button>
            </div>
          </form>
        </div>
      </div>
      <div id="collections" class="tabcontent">
        <h3 class="customer__addresses-title text-text h2">Synchronisation of collections</h3>

        <div class="customer__product-wrapper customer__width-wrapper">
          <form action="" class="custom-form">
            <div class="custom-form__row-full d-flex align-items-end">
              <div class="custom-form__select custom-form__select-wedding">
                <select id="idSelectСollections">
                  <option value="price" selected>Update price range</option>
                  <option value="size">Update size range</option>
                </select>
              </div>
            </div>
            {% comment %}
              <div class="custom-form__button d-flex w-100">
                <button type="submit" data-type="collections" class="btn btn__primary w-100">Done</button>
              </div>
            {% endcomment %}
          </form>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div id="editEventModal" class="modal">
  <div class="edit-event__modal position-relative d-flex justify-content-center modal-content">
    <span id="editEventClose" class="close d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.33366 15.8333L4.16699 14.6667L8.83366 9.99999L4.16699 5.33332L5.33366 4.16666L10.0003 8.83332L14.667 4.16666L15.8337 5.33332L11.167 9.99999L15.8337 14.6667L14.667 15.8333L10.0003 11.1667L5.33366 15.8333Z" fill="black"/>
      </svg>
    </span>
    <div class="edit-event__modal-wrapper w-100">
      <h3 class="text-text text-center mb-4">{{ section.settings.form_title }}</h3>
      <form action="" id="ContactForm" data-form="">
        <div class="dates active">
          <div class="dates__first">
            <div class="month">
              <div class="mth text-15px"></div>
              <div class="month-arrows">
                <div class="arrows prev-mth">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00163 0.71811C9.37537 0.32692 10 0.32692 10.3738 0.71811C10.7242 1.08485 10.7242 1.6623 10.3738 2.02904L5.62459 7L10.3738 11.971C10.7242 12.3377 10.7242 12.9152 10.3738 13.2819C10 13.6731 9.37537 13.6731 9.00163 13.2819L3 7L9.00163 0.71811Z" fill="#1F1F1F"/>
                  </svg>
                </div>
                <div class="arrows next-mth">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.99837 0.71811C4.62463 0.32692 3.99996 0.32692 3.62622 0.71811C3.27584 1.08485 3.27584 1.6623 3.62622 2.02904L8.37541 7L3.62622 11.971C3.27584 12.3377 3.27584 12.9152 3.62622 13.2819C3.99996 13.6731 4.62463 13.6731 4.99837 13.2819L11 7L4.99837 0.71811Z" fill="#1F1F1F"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="days-list">
              <ul>
                <li class="text-15px">Mo</li>
                <li class="text-15px">Tu</li>
                <li class="text-15px">We</li>
                <li class="text-15px">Th</li>
                <li class="text-15px">Fr</li>
                <li class="text-15px">Sa</li>
                <li class="text-15px">Su</li>
              </ul>
            </div>
            <div class="days"></div>
          </div>
          <div class="dates__second">
            <div class="date-picker">
              <span class="selected-date">{{ 'templates.contact.form.select' | t }}</span>
              <div class="time text-15px d-none"></div>
            </div>
            <div class="dates-location">
              {% if section.settings.dates_location != blank %}
                {% render 'icon-info' %}
                <span>{{ section.settings.dates_location }}</span>
              {% endif %}
            </div>
            <ul class="dates__second-list" id="list"></ul>
          </div>
        </div>
        <div class="dates__bottom d-flex align-items-center justify-content-end">
          <span class="text-15px text-text" id="cancel-event">Cancel Event</span>
          <span class="d-flex align-items-center text-15px text-text" id="update-event">
            Update Event
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
              <path d="M19.25 4.99994C19.25 4.3369 18.9866 3.70102 18.5178 3.23218C18.0489 2.76333 17.413 2.49994 16.75 2.49994H16.125V1.89252C16.125 1.55619 15.8664 1.26752 15.5301 1.25072C15.4456 1.24665 15.3611 1.25978 15.2818 1.28931C15.2026 1.31884 15.1301 1.36417 15.0688 1.42253C15.0076 1.48089 14.9588 1.55108 14.9255 1.62885C14.8922 1.70662 14.875 1.79034 14.875 1.87494V2.49994H6.125V1.89252C6.125 1.55619 5.86641 1.26752 5.53008 1.25072C5.44557 1.24665 5.36112 1.25978 5.28184 1.28931C5.20255 1.31884 5.13009 1.36417 5.06884 1.42253C5.00759 1.48089 4.95883 1.55108 4.92551 1.62885C4.89219 1.70662 4.87501 1.79034 4.875 1.87494V2.49994H4.25C3.58696 2.49994 2.95107 2.76333 2.48223 3.23218C2.01339 3.70102 1.75 4.3369 1.75 4.99994V5.46869C1.75 5.51013 1.76646 5.54988 1.79576 5.57918C1.82507 5.60848 1.86481 5.62494 1.90625 5.62494H19.0938C19.1352 5.62494 19.1749 5.60848 19.2042 5.57918C19.2335 5.54988 19.25 5.51013 19.25 5.46869V4.99994ZM1.75 16.2499C1.75 16.913 2.01339 17.5489 2.48223 18.0177C2.95107 18.4865 3.58696 18.7499 4.25 18.7499H16.75C17.413 18.7499 18.0489 18.4865 18.5178 18.0177C18.9866 17.5489 19.25 16.913 19.25 16.2499V6.99213C19.25 6.96105 19.2377 6.93124 19.2157 6.90927C19.1937 6.88729 19.1639 6.87494 19.1328 6.87494H1.86719C1.83611 6.87494 1.8063 6.88729 1.78432 6.90927C1.76235 6.93124 1.75 6.96105 1.75 6.99213V16.2499ZM15.1875 8.12494C15.3729 8.12494 15.5542 8.17993 15.7083 8.28294C15.8625 8.38595 15.9827 8.53237 16.0536 8.70368C16.1246 8.87498 16.1432 9.06348 16.107 9.24534C16.0708 9.4272 15.9815 9.59424 15.8504 9.72536C15.7193 9.85647 15.5523 9.94576 15.3704 9.98193C15.1885 10.0181 15 9.99954 14.8287 9.92858C14.6574 9.85762 14.511 9.73746 14.408 9.58329C14.305 9.42912 14.25 9.24786 14.25 9.06244C14.25 8.8138 14.3488 8.57535 14.5246 8.39953C14.7004 8.22371 14.9389 8.12494 15.1875 8.12494ZM15.1875 11.2499C15.3729 11.2499 15.5542 11.3049 15.7083 11.4079C15.8625 11.511 15.9827 11.6574 16.0536 11.8287C16.1246 12 16.1432 12.1885 16.107 12.3703C16.0708 12.5522 15.9815 12.7192 15.8504 12.8504C15.7193 12.9815 15.5523 13.0708 15.3704 13.1069C15.1885 13.1431 15 13.1245 14.8287 13.0536C14.6574 12.9826 14.511 12.8625 14.408 12.7083C14.305 12.5541 14.25 12.3729 14.25 12.1874C14.25 11.9388 14.3488 11.7003 14.5246 11.5245C14.7004 11.3487 14.9389 11.2499 15.1875 11.2499ZM12.0625 8.12494C12.2479 8.12494 12.4292 8.17993 12.5833 8.28294C12.7375 8.38595 12.8577 8.53237 12.9286 8.70368C12.9996 8.87498 13.0182 9.06348 12.982 9.24534C12.9458 9.4272 12.8565 9.59424 12.7254 9.72536C12.5943 9.85647 12.4273 9.94576 12.2454 9.98193C12.0635 10.0181 11.875 9.99954 11.7037 9.92858C11.5324 9.85762 11.386 9.73746 11.283 9.58329C11.18 9.42912 11.125 9.24786 11.125 9.06244C11.125 8.8138 11.2238 8.57535 11.3996 8.39953C11.5754 8.22371 11.8139 8.12494 12.0625 8.12494ZM12.0625 11.2499C12.2479 11.2499 12.4292 11.3049 12.5833 11.4079C12.7375 11.511 12.8577 11.6574 12.9286 11.8287C12.9996 12 13.0182 12.1885 12.982 12.3703C12.9458 12.5522 12.8565 12.7192 12.7254 12.8504C12.5943 12.9815 12.4273 13.0708 12.2454 13.1069C12.0635 13.1431 11.875 13.1245 11.7037 13.0536C11.5324 12.9826 11.386 12.8625 11.283 12.7083C11.18 12.5541 11.125 12.3729 11.125 12.1874C11.125 11.9388 11.2238 11.7003 11.3996 11.5245C11.5754 11.3487 11.8139 11.2499 12.0625 11.2499ZM12.0625 14.3749C12.2479 14.3749 12.4292 14.4299 12.5833 14.5329C12.7375 14.636 12.8577 14.7824 12.9286 14.9537C12.9996 15.125 13.0182 15.3135 12.982 15.4953C12.9458 15.6772 12.8565 15.8442 12.7254 15.9754C12.5943 16.1065 12.4273 16.1958 12.2454 16.2319C12.0635 16.2681 11.875 16.2495 11.7037 16.1786C11.5324 16.1076 11.386 15.9875 11.283 15.8333C11.18 15.6791 11.125 15.4979 11.125 15.3124C11.125 15.0638 11.2238 14.8253 11.3996 14.6495C11.5754 14.4737 11.8139 14.3749 12.0625 14.3749ZM8.9375 11.2499C9.12292 11.2499 9.30418 11.3049 9.45835 11.4079C9.61252 11.511 9.73268 11.6574 9.80364 11.8287C9.87459 12 9.89316 12.1885 9.85699 12.3703C9.82081 12.5522 9.73152 12.7192 9.60041 12.8504C9.4693 12.9815 9.30225 13.0708 9.1204 13.1069C8.93854 13.1431 8.75004 13.1245 8.57873 13.0536C8.40743 12.9826 8.26101 12.8625 8.158 12.7083C8.05498 12.5541 8 12.3729 8 12.1874C8 11.9388 8.09877 11.7003 8.27459 11.5245C8.4504 11.3487 8.68886 11.2499 8.9375 11.2499ZM8.9375 14.3749C9.12292 14.3749 9.30418 14.4299 9.45835 14.5329C9.61252 14.636 9.73268 14.7824 9.80364 14.9537C9.87459 15.125 9.89316 15.3135 9.85699 15.4953C9.82081 15.6772 9.73152 15.8442 9.60041 15.9754C9.4693 16.1065 9.30225 16.1958 9.1204 16.2319C8.93854 16.2681 8.75004 16.2495 8.57873 16.1786C8.40743 16.1076 8.26101 15.9875 8.158 15.8333C8.05498 15.6791 8 15.4979 8 15.3124C8 15.0638 8.09877 14.8253 8.27459 14.6495C8.4504 14.4737 8.68886 14.3749 8.9375 14.3749ZM5.8125 11.2499C5.99792 11.2499 6.17918 11.3049 6.33335 11.4079C6.48752 11.511 6.60768 11.6574 6.67864 11.8287C6.74959 12 6.76816 12.1885 6.73199 12.3703C6.69581 12.5522 6.60652 12.7192 6.47541 12.8504C6.3443 12.9815 6.17725 13.0708 5.9954 13.1069C5.81354 13.1431 5.62504 13.1245 5.45373 13.0536C5.28243 12.9826 5.13601 12.8625 5.033 12.7083C4.92998 12.5541 4.875 12.3729 4.875 12.1874C4.875 11.9388 4.97377 11.7003 5.14959 11.5245C5.3254 11.3487 5.56386 11.2499 5.8125 11.2499ZM5.8125 14.3749C5.99792 14.3749 6.17918 14.4299 6.33335 14.5329C6.48752 14.636 6.60768 14.7824 6.67864 14.9537C6.74959 15.125 6.76816 15.3135 6.73199 15.4953C6.69581 15.6772 6.60652 15.8442 6.47541 15.9754C6.3443 16.1065 6.17725 16.1958 5.9954 16.2319C5.81354 16.2681 5.62504 16.2495 5.45373 16.1786C5.28243 16.1076 5.13601 15.9875 5.033 15.8333C4.92998 15.6791 4.875 15.4979 4.875 15.3124C4.875 15.0638 4.97377 14.8253 5.14959 14.6495C5.3254 14.4737 5.56386 14.3749 5.8125 14.3749Z" fill="#1F1F1F"/>
            </svg>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="popup">
  <div class="popup-inner">
    <h3></h3>
    <p></p>
    <button class="btn btn__secondary " type="button">Close</button>
  </div>
  <div class="popup-close">
    {% render 'icon-close' %}
  </div>
</div>
<div id="popup_overlay" class="overlay"></div>
<span class="loading-overlay hidden">
  <span class="loading-overlay__spinner">
    <svg
      aria-hidden="true"
      focusable="false"
      class="spinner"
      viewBox="0 0 66 66"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
    </svg>
  </span>
</span>

<script>
  // Получаем ссылку на форму
  const contactForm = document.querySelector('#ContactForm');

  // Получаем все элементы с атрибутами data-form-trigger и data-editEventButton
  const editButtons = document.querySelectorAll('[data-form-trigger][data-editEventButton]');

  // Добавляем обработчик события для каждой кнопки
  editButtons.forEach(function (button) {
    button.addEventListener('click', function () {
      // Получаем значение атрибута data-form-trigger текущей кнопки
      const triggerValue = button.getAttribute('data-form-trigger');

      // Вставляем значение в атрибут data-form формы
      contactForm.setAttribute('data-form', triggerValue);
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById('idSelect')) {
      NiceSelect.bind(document.getElementById('idSelect'));
    }
    if (document.getElementById('idSelect')) {
      NiceSelect.bind(document.getElementById('idSelectСollections'));
    }
  });

  function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName('tabcontent');
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'none';
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName('tablinks');
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(' active', '');
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = 'block';
    evt.currentTarget.className += ' active';
    setTimeout(function () {
      window.scrollTo(0, 0);
    }, 1);
  }
  (() => {
    if (window.location.hash === '#order') {
      setTimeout(() => {
        document.getElementById('order').style.display = 'block';
        document.getElementById('booking').style.display = 'none';
        if (document.getElementById('product')) {
          document.getElementById('product').style.display = 'none';
        }
        if (document.getElementById('collections')) {
          document.getElementById('collections').style.display = 'none';
        }
        if (document.getElementById('collection')) {
          document.getElementById('collection').style.display = 'none';
        }
        document.getElementById('link-order').classList.add('active');
        document.getElementById('link-booking').classList.remove('active');
        if (document.getElementById('link-product')) {
          document.getElementById('link-product').classList.remove('active');
        }
        if (document.getElementById('link-collections')) {
          document.getElementById('link-collections').classList.remove('active');
        }
        if (document.getElementById('link-collection')) {
          document.getElementById('link-collection').classList.remove('active');
        }
      }, 100);
      setTimeout(function () {
        window.scrollTo(0, 0);
      }, 1);
    } else if (window.location.hash === '#booking') {
      setTimeout(() => {
        document.getElementById('booking').style.display = 'block';
        document.getElementById('order').style.display = 'none';
        if (document.getElementById('product')) {
          document.getElementById('product').style.display = 'none';
        }
        if (document.getElementById('collections')) {
          document.getElementById('collections').style.display = 'none';
        }
        if (document.getElementById('collection')) {
          document.getElementById('collection').style.display = 'none';
        }
        document.getElementById('link-order').classList.remove('active');
        if (document.getElementById('link-product')) {
          document.getElementById('link-product').classList.remove('active');
        }
        if (document.getElementById('link-collections')) {
          document.getElementById('link-collections').classList.remove('active');
        }
        if (document.getElementById('link-collection')) {
          document.getElementById('link-collection').classList.remove('active');
        }
        document.getElementById('link-booking').classList.add('active');
      }, 100);
      setTimeout(function () {
        window.scrollTo(0, 0);
      }, 1);
    } else if (window.location.hash === '#product') {
      setTimeout(() => {
        document.getElementById('product').style.display = 'block';
        document.getElementById('booking').style.display = 'none';
        document.getElementById('order').style.display = 'none';
        document.getElementById('collection').style.display = 'none';
        document.getElementById('collections').style.display = 'none';
        document.getElementById('link-order').classList.remove('active');
        document.getElementById('link-booking').classList.remove('active');
        document.getElementById('link-collection').classList.remove('active');
        document.getElementById('link-collections').classList.remove('active');
        document.getElementById('link-product').classList.add('active');
      }, 100);
      setTimeout(function () {
        window.scrollTo(0, 0);
      }, 1);
    } else if (window.location.hash === '#collection') {
      setTimeout(() => {
        document.getElementById('collection').style.display = 'block';
        document.getElementById('product').style.display = 'none';
        document.getElementById('booking').style.display = 'none';
        document.getElementById('order').style.display = 'none';
        document.getElementById('collections').style.display = 'none';
        document.getElementById('link-order').classList.remove('active');
        document.getElementById('link-booking').classList.remove('active');
        document.getElementById('link-product').classList.remove('active');
        document.getElementById('link-collections').classList.remove('active');
        document.getElementById('link-collection').classList.add('active');
      }, 100);
      setTimeout(function () {
        window.scrollTo(0, 0);
      }, 1);
    } else if (window.location.hash === '#collections') {
      setTimeout(() => {
        document.getElementById('collections').style.display = 'block';
        document.getElementById('collection').style.display = 'none';
        document.getElementById('product').style.display = 'none';
        document.getElementById('booking').style.display = 'none';
        document.getElementById('order').style.display = 'none';
        document.getElementById('link-order').classList.remove('active');
        document.getElementById('link-booking').classList.remove('active');
        document.getElementById('link-product').classList.remove('active');
        document.getElementById('link-collection').classList.remove('active');
        document.getElementById('link-collections').classList.add('active');
      }, 100);
      setTimeout(function () {
        window.scrollTo(0, 0);
      }, 1);
    }
  })();

  //modal
  var editEventmodal = document.getElementById('editEventModal');
  var editEventButtons = document.querySelectorAll('[data-editEventButton]');
  var editEventspan = document.getElementById('editEventClose');

  function openModal() {
    editEventmodal.style.display = 'block';
  }

  function closeModal() {
    editEventmodal.style.display = 'none';
  }

  editEventButtons.forEach(function (button) {
    button.addEventListener('click', openModal);
  });

  editEventspan.onclick = closeModal;

  window.addEventListener('click', function (event) {
    if (event.target == editEventmodal) {
      closeModal();
    }
  });
</script>

<script src="{{ 'personal-account.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "text",
      "id": "form_title",
      "label": "Form Title",
      "default": "Edit the event"
    },
    {
      "type": "text",
      "id": "dates_location",
      "label": "Text location",
      "default": "Local time - Canada"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 148
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 80
    }
  ]
}
{% endschema %}
