{{ 'multi-column-tiles.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
    margin-top: {{ section.settings.margin_top_mb }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top_desc }}px;
    }
  }

{%- endstyle -%}

<section class="multi-tiles section-{{ section.id }}-padding">
  <div class="page-width multi-tiles__wrapper">
    {% for block in section.blocks %}
      <div class="multi-tiles__content">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="57" height="56" viewBox="0 0 57 56" fill="none">
          <path d="M27.1106 33.3007H25.1641L25.1592 33.2959L23.0958 33.2621V33.2717H23.1056C23.0423 35.1834 23.1104 35.589 23.1104 37.5972C23.1104 38.5724 23.1007 38.1959 23.1007 38.1959C22.3561 39.9772 19.5288 40.8559 19.5288 40.8559H18.8767C18.8767 40.1269 21.0276 41.3434 21.0276 38.5579V27.189C19.6796 27.1986 17.5968 27.2614 17.2707 27.3676C16.4094 27.6379 16.0201 27.9903 15.6745 28.4828C15.5967 28.589 15.8108 27.6524 15.8935 26.7641H16.8133L21.777 26.8172C22.1956 26.8221 22.5265 26.8221 23.271 26.8172L26.259 26.7786L28.4051 26.7593C28.4343 27.4255 28.5949 28.6372 28.59 28.6276C28.3126 28.2269 27.8844 27.5655 27.1496 27.3676C27.1496 27.3676 26.877 27.3193 26.259 27.271V31.8379C26.259 32.3062 26.3125 32.5765 26.4245 32.6393C26.5364 32.7069 26.8333 32.7697 27.1739 32.7986L27.1106 33.3007Z" fill="#D2B786"/>
          <path d="M32.4296 32.5428C34.1329 31.751 34.9796 30.5248 34.9796 28.8738V28.8545C34.9796 27.2807 34.2886 25.9628 32.9065 25.1759C31.5488 24.3986 30.4101 24.2683 30.4101 24.2683C30.4101 24.2683 31.7143 24.1186 32.926 22.9359C33.7484 22.1345 34.3227 21.3283 34.3227 20.2276C34.3227 18.9628 33.7582 18.0021 32.6243 17.3359C31.6559 16.771 30.1813 16.4766 28.2104 16.4621H22.7747H21.8549C21.8549 16.911 23.5533 16.6166 23.5533 17.1959V26.4214H26.2687V22.231C26.4975 22.3083 26.9257 22.4628 27.2615 22.3952C29.3784 21.9752 28.7652 20.0441 28.5998 20.1648C27.2615 21.1303 26.5218 20.1938 26.4439 19.5614C26.4439 19.5614 26.9987 19.9814 27.5048 19.1993C27.5048 19.1993 25.7821 18.8614 26.2687 17.109C26.2979 16.9207 26.4001 16.9883 26.4001 16.9593H27.7189C28.8869 16.9593 29.685 17.0993 30.1035 17.3745C30.9064 17.891 31.3104 18.929 31.3104 20.4834C31.3104 21.5697 31.1644 22.4917 30.5415 23.0759C29.977 23.6069 29.2957 24.0655 27.7287 24.0655H27.0328C27.0328 24.6159 28.0937 24.3262 29.4076 24.6159C31.2422 25.0214 32.1084 26.5614 32.1084 28.6034C32.1084 29.9841 31.7337 31.0269 30.9843 31.7414C30.8286 31.8862 30.0889 32.4172 29.9137 32.5331C29.9137 32.5331 29.8796 32.7841 29.865 32.8662C29.8164 33.1317 29.6752 33.2428 29.6752 33.2428C30.5512 33.1124 31.8749 32.8034 32.4296 32.5428Z" fill="#D2B786"/>
          <path d="M31.033 38.5386C30.6729 37.9979 30.3322 37.3076 29.9088 36.0041L29.904 35.9993C29.792 35.6614 29.7288 35.391 29.6606 35.1207C29.2859 33.6676 29.6996 32.0214 29.8115 31.5772C30.084 30.5007 30.8918 29.6655 31.2617 29.1586C31.4564 28.8979 31.5731 28.8014 31.797 28.5938C31.797 28.5938 31.8457 28.3862 31.8067 28.0434C31.7678 27.7103 31.6899 27.5221 31.6899 27.5221C30.7167 27.8455 30.1911 28.2655 29.4708 28.9752C28.6679 29.7669 27.9671 30.7228 27.6459 31.809C27.4367 32.5283 27.3296 33.3152 27.3296 34.1648C27.3296 34.2083 27.3345 34.2517 27.3345 34.2952C26.9792 34.2228 26.5364 34.271 26.0644 34.6379C24.9645 35.4924 26.113 36.931 26.2347 36.7717C26.77 36.0621 27.3394 36.149 27.7238 36.4966C27.7481 36.5738 27.7822 36.6462 27.8114 36.7234C27.5535 36.7283 26.9403 36.8055 26.877 37.5345C26.877 37.5345 27.4854 37.2207 28.8674 38.471C29.0718 38.7076 29.2811 38.9393 29.5195 39.1517C29.8845 39.48 30.4539 39.8903 30.8821 40.1462L31.033 38.5386Z" fill="#D2B786"/>
          <path d="M39.7293 37.6552C39.7293 37.6552 39.7049 35.951 39.7049 35.8593V35.8545C39.7049 35.7676 39.6611 35.729 39.8899 35.7145C39.8899 35.7145 39.8509 35.4683 39.8607 35.3331H38.7852C37.8752 35.3428 36.9019 35.3428 36.5126 35.3428C36.5126 35.3428 36.1622 35.4683 36.4493 35.6759C36.4493 35.6759 37.7097 35.6662 37.7097 35.8593C37.7097 35.9848 37.734 37.3462 37.7438 38.2972L38.2353 38.64C38.2353 38.64 38.5808 37.8338 39.7293 37.6552Z" fill="#D2B786"/>
          <path d="M34.9942 27.3821C36.094 27.3821 37.2912 27.9034 37.8362 28.4297L37.846 28.4248C38.0163 28.589 38.1817 28.7338 38.2937 28.8497L39.5541 28.5166V28.2559C39.5541 28.1255 39.5297 28.0531 39.5297 27.9372L39.1988 27.8697C39.1015 27.9228 38.9214 27.9228 38.717 27.9228C38.4981 27.9228 38.2158 27.8552 37.88 27.7103C37.1939 27.4255 35.8167 26.8172 34.7363 26.8172L34.9942 27.3821Z" fill="#D2B786"/>
          <path d="M4 28.3524C4.32118 28.6469 4.6959 28.9703 5.09494 29.2986V29.3034C5.65458 29.7621 6.39915 30.3414 7.27024 30.3655C7.79094 30.3752 8.54524 30.1 8.90535 29.7862C9.47473 29.2841 10.667 28.28 10.5648 28.2366C10.667 28.1979 9.42606 27.3241 8.90535 26.9476C8.50631 26.6628 7.78608 26.3297 7.27024 26.3441C6.39428 26.3683 5.65458 26.9476 5.09494 27.4062C4.6959 27.7345 4.43311 27.9517 4 28.3524Z" fill="#D2B786"/>
          <path d="M5.85411 32.5379C5.73245 32.9434 7.21184 33.8028 8.51604 32.8276V32.8324C6.85172 34.0779 7.50382 36.7717 8.51604 37.6986C10.4042 39.4221 13.6744 39.1276 15.514 37.6697C17.806 35.8497 16.3802 32.8759 16.1028 34.4545C15.5723 37.4814 11.1098 36.2503 11.8933 33.6869C12.1999 32.6828 13.6501 31.6641 16.3802 31.9828C18.2051 32.1952 19.9278 33.4697 20.283 35.4972V30.6021C17.1491 27.8359 11.8301 28.4007 9.54772 30.5441C7.23617 32.7166 5.93684 32.2579 5.85411 32.5379Z" fill="#D2B786"/>
          <path d="M15.6648 40.909C14.4433 41.3241 12.7547 41.4979 13.0272 41.6186C14.4579 42.2365 18.2781 41.189 20.249 38.5193L20.2636 36.4531C20.0057 38.4855 17.9618 39.7021 17.9618 39.7021C18.6625 39.0648 18.0542 38.1524 17.4508 38.0897C15.9909 37.9352 14.8132 39.7648 15.3485 39.4414C16.4191 38.7993 18.0786 40.0834 15.6648 40.909Z" fill="#D2B786"/>
          <path d="M8.80802 23.7855C7.50382 22.8055 6.02443 23.6697 6.14609 24.0752L6.15096 24.0848C6.23855 24.3648 7.69848 24.1138 10.2728 26.209C11.5332 27.2324 12.745 27.7345 14.7937 27.8552L15.2755 26.1655L20.4826 26.2041C20.9789 25.8324 21.3488 25.6248 21.743 25.0938C26.1033 19.2669 15.913 13.8841 13.3289 14.9993C13.0564 15.1152 14.7451 15.289 15.9665 15.709C18.3754 16.5393 16.7208 17.8186 15.6502 17.1766C15.1149 16.8531 16.2926 18.6828 17.7525 18.5283C18.3511 18.4655 18.9594 17.5531 18.2635 16.9159C18.2635 16.9159 21.1152 18.4993 20.648 21.1641C20.2879 23.1917 18.4971 24.4228 16.6722 24.6352C13.9421 24.9538 12.4919 23.9352 12.1853 22.931C11.4018 20.3676 15.8643 19.1366 16.3948 22.1634C16.6722 23.7421 18.1029 20.7683 15.8059 18.9483C13.9664 17.4855 10.6962 17.1959 8.80802 18.9193C7.79581 19.8414 7.14371 22.54 8.80802 23.7855Z" fill="#D2B786"/>
          <path d="M41.3352 15.7041C42.5567 15.289 44.2453 15.1152 43.9728 14.9945V14.9897C41.3887 13.8745 31.1984 19.2572 35.5587 25.0841C38.3959 28.869 44.3183 28.4055 47.0338 26.1945C49.6081 24.0993 51.0729 24.3503 51.1556 24.0703C51.2773 23.6648 49.7979 22.8055 48.4937 23.7807C50.158 22.5352 49.5059 19.8414 48.4937 18.9145C46.6055 17.191 43.3353 17.4855 41.4958 18.9434C39.2037 20.7634 40.6296 23.7372 40.9069 22.1586C41.4374 19.1317 45.8999 20.3628 45.1164 22.9262C44.8098 23.9303 43.3596 24.949 40.6296 24.6303C38.8046 24.4179 37.0138 23.1917 36.6537 21.1593C36.1816 18.4945 39.0382 16.911 39.0382 16.911C38.3375 17.5483 38.9458 18.4607 39.5492 18.5234C41.0091 18.6779 42.1868 16.8483 41.6515 17.1717C40.5809 17.8138 38.9214 16.5297 41.3352 15.7041Z" fill="#D2B786"/>
          <path d="M37.3447 39.7503C37.1793 39.9724 36.4785 40.2814 35.8897 40.3972L36.7705 40.8317C36.9992 40.8172 37.4469 40.6917 37.5394 40.6579C37.8411 40.5566 37.9044 40.5565 38.2207 40.3924L37.3447 39.7503Z" fill="#D2B786"/>
          <path d="M39.8704 44.2255C39.3302 42.2897 37.6854 41.7393 36.0551 40.8703L36.06 40.8752L35.2424 40.4021C33.9382 39.5669 32.3469 38.0462 32.454 35.4152C32.0403 36.2793 31.6023 37.4766 31.4564 38.8862C31.1838 41.4979 31.8895 44.0614 33.9042 45.9586C35.038 47.0303 36.6683 48.0393 38.2839 47.5759C39.6855 47.1703 40.2402 45.5483 39.8704 44.2255Z" fill="#D2B786"/>
          <path d="M19.5201 6.8143C19.5181 6.81505 19.5161 6.8158 19.5142 6.81655V6.81172C19.5161 6.81258 19.5181 6.81344 19.5201 6.8143C20.1706 6.56961 20.8791 6.44966 21.6456 6.44966C22.7114 6.44966 23.6895 6.66207 24.5752 7.08207C24.9889 7.25586 25.4025 7.55517 25.8162 7.97517C25.8162 6.43035 26.079 4.94345 26.6143 3.50483C27.1447 2.06621 27.7433 1.01862 28.5754 0C29.4027 1.01862 30.1667 2.06621 30.6972 3.50483C31.2325 4.94345 31.4953 6.43035 31.4953 7.97517C31.9089 7.55517 32.5172 7.1931 33.3153 6.89862C34.1134 6.59931 34.8969 6.44966 35.6707 6.44966C36.4444 6.44966 37.1501 6.57034 37.8022 6.81655C35.6317 7.73862 30.7021 10.6979 29.685 15.0766C30.0889 15.0283 30.3127 15.2793 30.3127 15.5352C30.3127 16.0034 29.6266 16.0131 28.7214 16.0131C27.3394 16.0131 26.8868 15.931 26.8673 15.5352C26.8576 15.3276 27.0279 15.1103 27.534 15.0717C25.8609 10.4639 23.1232 8.3637 19.5201 6.8143Z" fill="#D2B786"/>
          <path d="M27.2873 41.1935C26.7838 41.1542 26.6094 40.9375 26.624 40.7303C26.6435 40.3345 27.0766 40.1559 28.4586 40.1559C29.3638 40.1559 30.0694 40.2669 30.0694 40.7303C30.0694 40.9862 29.8456 41.2372 29.4417 41.189C30.4587 45.5676 35.3884 48.5269 37.5588 49.449C36.9067 49.6952 36.1962 49.8159 35.4274 49.8159C34.6585 49.8159 33.875 49.6662 33.072 49.3669C32.2739 49.0676 31.6656 48.7103 31.252 48.2903C31.252 49.8352 30.9843 51.3221 30.4539 52.7607C29.9186 54.1993 29.4027 54.9814 28.5754 56C27.7433 54.9814 26.9014 54.1993 26.3709 52.7607C25.8356 51.3221 25.5728 49.8352 25.5728 48.2903C25.1592 48.7103 24.7407 49.0097 24.3319 49.1834C23.4414 49.6034 22.4632 49.811 21.4023 49.811C20.6334 49.811 19.9229 49.6903 19.2708 49.4441C22.8744 47.8955 25.6129 45.7973 27.2873 41.1935Z" fill="#D2B786"/>
          <path d="M18.6187 9.00345C17.2172 9.40897 16.6624 11.031 17.0323 12.3538V12.349C17.6552 14.5745 19.3633 14.7241 21.3147 15.6945C21.4753 15.7766 21.8014 15.8586 22.1761 15.9069L25.3101 15.8779C25.2371 13.8359 24.6239 12.151 22.9985 10.6207C21.8646 9.54897 20.2344 8.54 18.6187 9.00345Z" fill="#D2B786"/>
          <path d="M38.7073 9.00828C37.0965 8.54 35.4614 9.55379 34.3275 10.6255C32.5562 12.291 31.8749 13.8503 31.9576 16.2255C31.9576 16.2255 32.5464 16.4186 33.0915 16.771C33.6316 17.1186 33.9528 17.5241 33.9528 17.5241C34.6585 16.7662 35.0818 16.5393 35.7437 16.129C37.588 14.9752 39.666 14.5841 40.2938 12.3586C40.6636 11.0359 40.1089 9.41379 38.7073 9.00828Z" fill="#D2B786"/>
          <path d="M36.605 36.0524C36.5758 37.1772 36.97 38.0703 38.5516 39.3159L38.5613 39.3207C38.5613 39.3207 38.2742 38.3552 39.7341 38.1041C39.7877 38.0945 39.8412 38.0993 39.8947 38.1041C41.1892 38.2248 42.1479 39.7552 41.6564 39.4559C40.5858 38.8138 38.9263 40.0979 41.34 40.9234C42.5615 41.3386 44.2502 41.5124 43.9777 41.6331C43.0433 42.0338 41.1211 41.5897 39.2475 40.5855C38.9458 40.4262 38.6441 40.2476 38.3521 40.0593C35.403 38.1572 33.0233 34.9228 35.5587 31.5386C36.3179 30.5248 37.3496 29.8103 38.4932 29.3614L39.7098 28.98C42.6005 28.3041 45.8464 29.0428 47.4571 30.5586C49.7687 32.731 51.068 32.2724 51.1508 32.5524C51.2724 32.9579 49.793 33.8172 48.4888 32.8421C50.1531 34.0876 49.501 36.7814 48.4888 37.7083C46.6007 39.4317 43.3304 39.1372 41.4909 37.6793C39.1988 35.8593 40.6247 32.8855 40.9021 34.4641C41.4325 37.491 45.895 36.26 45.1115 33.6966C44.805 32.6924 43.3547 31.6738 40.6247 31.9924C40.3035 32.031 40.0213 32.0793 39.7098 32.1807L39.2718 32.3448C38.0747 32.8372 37.1355 33.5759 36.751 34.9228C36.6878 35.1352 36.06 34.8455 36.06 35.6179C36.0551 36.0138 36.605 35.9269 36.605 36.0524Z" fill="#D2B786"/>
          <path d="M51.9051 29.3083C52.3041 28.98 52.6788 28.6566 53 28.3621V28.3572C52.5669 27.9517 52.3041 27.7393 51.9051 27.411C51.3454 26.9524 50.6009 26.3731 49.7298 26.349C49.2091 26.3345 48.4888 26.6676 48.0946 26.9524C47.5739 27.3241 46.333 28.2028 46.4352 28.2414C46.333 28.2848 47.5253 29.2938 48.0946 29.791C48.4548 30.1097 49.2139 30.3848 49.7298 30.3703C50.6057 30.3462 51.3454 29.7669 51.9051 29.3083Z" fill="#D2B786"/>
          <path d="M21.5775 40.4552C19.7331 41.609 17.6552 42 17.0274 44.2255H17.0323C16.6624 45.5483 17.2172 47.1703 18.6187 47.5759C20.2295 48.0441 21.8646 47.0303 22.9985 45.9586C25.0083 44.0614 25.7188 41.4979 25.4463 38.8862C25.3003 37.4766 24.8623 36.2793 24.4487 35.4152C24.5606 38.1041 22.8963 39.6345 21.5775 40.4552Z" fill="#D2B786"/>
          </svg>
        </span>
        <div class="title-collection__content">
          <p class="title-collection-item"> {{ block.settings.title }} </p>
          <div> 
            <p class="p-small">{{ block.settings.content }}</p>
            <p class="p-small" style="font-weight:600;">{{ block.settings.content_contacts }}</p>
          </div>
        </div>
        <div class="contact_button">
          {% if block.settings.button_link_1 != blank %}
            <a href="{% if forloop.last %}{{ block.settings.button_link_1 | replace: "tel:", "sms:" }}{% else %}{{ block.settings.button_link_1 }}{% endif %}"
              {% if block.settings.blank %} target="blank" {% endif %} class="btn btn__secondary title-small-upper">{{ block.settings.column_button }}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
      

{% schema %}
{
  "name": "Multi Column Tiles",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_top_desc",
      "min": -150,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Custom top margin Desc (may be negative)",
      "default": 0
    },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 120,
        "step": 4,
        "unit": "px",
        "label": "Padding top mobile",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 120,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom mobile",
        "default": 80
      },
    {
      "type": "range",
      "id": "margin_top_mb",
      "min": -150,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Custom top margin Mob (may be negative)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Tiles Item",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title Item"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content Item"
        },
        {
          "type": "text",
          "id": "content_contacts",
          "label": "Content Contact"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "column_button",
          "label": "Button Label"
        },
        {
          "type": "checkbox",
          "id": "blank",
          "label": "Target Blank",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Column Tiles"
    }
  ]
}
{% endschema %}
